<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Video-Upload</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/jquery-3.6.3.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
</head>
<body>

    <!-- Video -->
    <div class="container video-con">
        <div class="card">
            <h5 class="card-header">Video</h5>
            <div class="card-body">
                <div class="btn-con">
                    <button type="button" class="btn btn-secondary btn-upload" data-bs-toggle="modal" data-bs-target="#uploadModal">
                        upload
                    </button>
                </div>
                <div id="reload">
                    <div id="video-row" class="row">
                        <div class="col video-col" th:each="video : ${videoList}">
                            <p th:text="${video.title}"></p>
                            <video id="video" width="360" controls>
                                <source th:src="${video.resized.videoUrl}">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="videoModalLabel">Upload</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input id="input-file" class="form-control" type="file">
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text" id="inputGroup-sizing-default">파일명</span>
                        <input id="file-name" type="text" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button id="upload-btn" type="button" class="btn btn-primary" data-bs-dismiss="modal">올리기</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // 파일 선택 시
        $('#input-file').change(setFile);

        // 올리기 버튼 클릭 시
        $('#upload-btn').click(saveVideo);

        let videoFile = '';
        function setFile(e) {
            videoFile = e.target.files[0];
            // checkFile(file);
            $('#file-name').val(videoFile.name.split('.')[0]);
        }

        function saveVideo() {
            const inputFile = $('#input-file').val();
            const fileName = $('#file-name').val();

            if (inputFile === '' || inputFile === undefined) {
                alert('업로드할 파일을 선택해주세요.');
                return;
            }

            if (fileName === '' || fileName === undefined) {
                alert('파일명을 입력해주세요.');
                return;
            }

            let formData = new FormData();
            formData.append('fileName', fileName);
            formData.append('file', videoFile);

            $.ajax({
                method: 'POST',
                url: '/video/save',
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                data: formData,
                success: function (res) {
                    if (res.code === 200) {
                        alert('업로드 성공했습니다.');
                        drawList(res.data);
                    } else {
                        alert('업로드 실패했습니다.');
                    }
                },
                error: function (error) {
                    const response = error.responseJSON;
                    alert(response.message);
                }
            });

            // 초기화
            $('#file-name').val('');
            $('#input-file').val('');
        }

        function drawList(data) {
            $('#video-row').html('');
            let list = data.videoList;
            let html = '';
            for(let i = 0; i < list.length; i++) {
                html +=
                    "                    <div class=\"col video-col\">\n" +
                    "                        <p>"+ list[i].title +"</p>\n" +
                    "                        <video id=\"video\" width=\"360\" controls>\n" +
                    "                            <source src=\""+ list[i].resized.videoUrl +"\">\n" +
                    "                        </video>\n" +
                    "                    </div>\n";
            }
            $('#video-row').html(html);
        }
    </script>
</body>
</html>

