<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Video-Upload</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/jquery-3.6.3.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
<!--    <script type="text/javascript" th:src="@{/js/constants/constants.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/utils.js}"></script>
</head>
<body>

    <!-- Video -->
    <div class="container video-con">
        <div class="card">
            <h5 class="card-header">Video</h5>
            <div class="card-body">
                <div class="btn-con">
                    <button type="button" class="btn btn-secondary btn-upload" data-bs-toggle="modal" data-bs-target="#uploadModal">
                        upload
                    </button>
                </div>
                <div class="row">
<!--                    <div class="col video-col">-->
                    <div class="col">
                        <video id="video" controls>
                            <source id="video-source" src="/">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="videoModalLabel">Upload</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
<!--                        <label for="input-file" class="form-label">업로드할 영상을 선택하세요.</label>-->
                        <input id="input-file" class="form-control" type="file">
<!--                        <div class="input-group valid-text">error</div>-->
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text" id="inputGroup-sizing-default">파일명</span>
                        <input id="file-name" type="text" class="form-control">
<!--                        <div class="input-group valid-text">error</div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button id="upload-btn" type="button" class="btn btn-primary" data-bs-dismiss="modal">올리기</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<script type="text/javascript">
    
    // 파일 선택 시
    $('#input-file').change(setFile);

    // 올리기 버튼 클릭 시
    $('#upload-btn').click(saveVideo);

    let file = '';
    function setFile(e) {
        file = e.target.files[0];
        $('#file-name').val(file.name.split('.')[0]);
    }

    function saveVideo() {
        let formData = new FormData();
        formData.append('fileName', $('#file-name').val());
        formData.append('file', file);

        $.ajax({
            method: 'POST',
            url: '/video/save',
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            data: formData,
            success: function (res) {
                console.log(res);
            },
            error: function (error) {
                console.log(error)
            }
        });
    }

   <!--  비디오 업로드 이벤트  -->
    function addVideo(e) {
         if (e.target.files && e.target.files[0]) {

           <!--  video 숨기기 해제  -->
            $('#video').show();

            checkFile(e.target.files[0]);

            let reader = new FileReader();

            reader.onload = function(ev) {
                document.querySelector('#video-source').src = ev.target.result;
                document.querySelector('#video').load();
            }.bind(this)

            reader.readAsDataURL(e.target.files[0]);
         }
    }

    <!--  파일 유효성 체크  -->
    function checkFile(file) {
          const fileSize = 100 * 1024 * 1024;

          <!--  파일 용량 크기 체크  -->
          if (fileSize < parseInt(file.size)) {
            alert('파일 용량이 100MB를 초과하였습니다.');
            return;
          }

          <!--  파일 확장자 체크  -->
          let fileExt = file.contentType.slice(file.name.lastIndexOf('/') + 1).toLowerCase();

          if (fileExt !== MP4) {
            alert('파일 확장자가 \'mp4\'만 가능합니다.');
            return;
          }

    }
</script>
